<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id        = "com.audero.free.utility.currencyconverter"
        version   = "1.0.0">

   <name>Game</name>

   <description>This is a project game I am making to fiddle around with PhoneGap HTML5 games.</description>

   <author href="http://www.alessiopellegrino.com" email="apellegrino6@gmail.com">Alessio Pellegrino</author>

   <feature name="http://api.phonegap.com/1.0/network"/>

   <preference name="target-device" value="universal" />

    <preference name="Orientation" value="portrait" />

   <access origin="*" />



    <platform name="android">
        <icon src="img/android/ldpi.png" density="ldpi" />
        <icon src="img/android/mdpi.png" density="mdpi" />
        <icon src="img/android/icon-72x72.png" density="hdpi" />
        <icon src="img/android/icon-96x96.png" density="xhdpi" />

        <icon src="img/icon.png" density="ldpi" />
        <icon src="img/icon.png" density="mdpi" />
        <icon src="img/icon.png" density="hdpi" />
        <icon src="img/icon.png" density="xhdpi" />

        <gap:splash src="img/splash.png" />
        <gap:splash src="img/splash-240x320.png" gap:platform="android" gap:density="ldpi" />
        <gap:splash src="img/splash-320x480.png" gap:platform="android" gap:density="mdpi" />
        <gap:splash src="img/splash-480x800.png" gap:platform="android" gap:density="hdpi" />
        <gap:splash src="img/splash-640x960.png" gap:platform="android" gap:density="xhdpi" />
        <gap:splash src="img/splash-960x1600.png" gap:platform="android" gap:density="xxhdpi" />

    </platform>

    <platform name="windows">


    </platform>

    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="img/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="img/ios/icon-60.png" width="60" height="60" />
        <icon src="img/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="img/ios/icon-76.png" width="76" height="76" />
        <icon src="img/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="img/ios/icon-40.png" width="40" height="40" />
        <icon src="img/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="img/ios/icon.png" width="57" height="57" />
        <icon src="img/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="img/ios/icon-72.png" width="72" height="72" />
        <icon src="img/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="img/ios/icon-small.png" width="29" height="29" />
        <icon src="img/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="img/ios/icon-50.png" width="50" height="50" />
        <icon src="img/ios/icon-50@2x.png" width="100" height="100" />

        <!-- iPhone and iPod touch -->
        <splash src="Default.png" platform="ios" width="320" height="480" />
        <splash src="Default@2x.png" platform="ios" width="640" height="960" />

        <!-- iPhone 5 / iPod Touch (5th Generation) -->
        <splash src="Default-568h@2x.png" platform="ios" width="640" height="1136" />

        <!-- iPhone 6 -->
        <splash src="Default-667h@2x.png" platform="ios" width="750" height="1334" />
        <splash src="Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
        <splash src="Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

        <!-- iPad -->
        <splash src="Default-Portrait.png" platform="ios" width="768" height="1024" />
        <splash src="Default-Landscape.png" platform="ios" width="1024" height="768" />

        <!-- Retina iPad -->
        <splash src="Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
        <splash src="Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
    </platform>




</widget>
